ENV=development-or-production
OIDC_GOOGLE_CLIENT_ID=your-google-client-id
OIDC_GOOGLE_CLIENT_SECRET=your-google-client-secret
OIDC_GOOGLE_REDIRECT_URI=http://quipu.timelessprototype.com/auth/google/callback
APP_SECRET_KEY=some-random-long-string
